.contanier_contact{
    width: 60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
 
}


.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: 20px;
}
.contact_option:hover{
    border-color: var(--color-bg-variant);
    background:transparent;
}

.contact_option svg{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contanier_contact form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contanier_contact form input,
.contanier_contact form textarea{
    width: 70%;
    padding:1.5rem ;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-bg-variant);
    resize: none;
    color: var(--color-white);
}

.contanier_contact form  button{
    font-size: 18px;
    padding: 14px 30px;
}

/* responsive */

@media (max-width:1024px){
    .contanier_contact{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .contanier_contact form {
        display: flex;
        align-items: center;
    }
}